<center>
<p id="notice"><%= notice %></p>

<h1>List of admins</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>User Type</th>
    <th>Actions</th>


  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.user_type %></td>
        <% if user.id!=@user.id%>
            <td><%= link_to 'Delete this admin', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>


<br>
</center>
