<h1>Adding Suggestion Car</h1>

<%= form_for(@car) do |form|%>

<div class="field">
  <%= form.label :model %>
  <%= form.text_field :model, id: :car_model %>
</div>

<div class="field">
  <%= form.label :manufacturer %>
  <%= form.text_field :manufacturer, id: :car_manufacturer %>
</div>
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status,["Avaliable","Checkout"], id: :car_status %>
    </div>

    <div class="field">
      <%= form.label :lic_no %>
      <%= form.text_field :lic_no, id: :car_lic_no %>
    </div>

    <div class="field">
      <%= form.label :hourly_rate %>
      <%= form.number_field :hourly_rate, id: :car_hourly_rate %>
    </div>
<div class="field">
  <%= form.label :style %>
  <%= form.select :style,["","Sedane","SUV","LUV", ], id: :car_style %>
</div>
    <div class="field">
      <%= form.label :location %>
      <%= form.select :location,["","Raleigh","San Jose","New York"], id: :car_location %>
    </div>
    <%= hidden_field_tag(:sgg_no, @sug_id) %>
<div class="actions">
  <%= form.submit "Add Suggestion Car" %>
</div>
<% end %>

<%= link_to 'Back', suggestions_path %>
